.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.center h1 {
  font-family: 'copasetic';
  font-size: 4.5em;
  letter-spacing: 5px;
  margin-top: 50px;
  font-weight: normal;
  z-index: 1;
}
.center span {
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 0.7em;
  text-align: center;
  z-index: 1;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 880px;
  height: 560px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 540px;
  height: 580px;
  z-index: -1;
  margin-left: -400px;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
.cover {
  z-index: 1;
  box-shadow: 0 0 10px rgba(255, 0, 242, 0.5);
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px rgba(255, 0, 242, 0.5);
  }
  to {
    box-shadow: 0 0 10px rgba(68, 0, 255, 0.5);
  }
}

.links {
  margin-top: 50px;
  margin-bottom: 20px;
  gap: 10px;
  background-color: green;
  padding: 10px 30px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.2s;
}
.links:hover {
  background-color: #20ab20;
}

/* Tablet and Smaller Desktop */
@media (max-width: 701px) {
  .center h1 {
    font-size: 3.5em;
  }
  .center span {
    width: 100%;
    letter-spacing: 5px;
    text-align: center;
    font-size: 0.4em;
  }
}

/* @media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
} */
